<!doctype html>
<html ng-app="moshimoshiApp">
  <head>
    <title>moshimoshi</title>
  </head>
  <body>
    <h1>moshimoshi</h1>

    <div ng-controller="moshimoshiController">

      <div>
        <input type="text"
               ng-model="userName"
               placeholder="Your Name">
      </div>

      <h3>Messages</h3>
      <div ng-repeat="message in messages">
        <span>{{message.userName}}</span>
        <span>{{message.time | date:'HH:mm:ss'}}</span>
        <span>{{message.message}}</span>
      </div>

      <form ng-submit="sendMessage()">
        <input type="text" ng-model="message">
      </form>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-socket-io/socket.js"></script>
    <script src="/javascripts/moshimoshi.js"></script>

  </body>
</html>
