<!doctype html>
<html ng-app="moshimoshiApp">
  <head>
    <title>moshimoshi</title>
    <link rel="stylesheet" href="pure/base-min.css">
    <link rel="stylesheet" href="pure/pure-min.css">
  </head>
  <body>
    <h1>moshimoshi</h1>

    <chat></chat>

    <search></search>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/angular-socket-io/socket.js"></script>
    <script src="/javascripts/directives/chat_directive.js"></script>
    <script src="/javascripts/directives/search_directive.js"></script>
    <script src="/javascripts/moshimoshi.js"></script>

  </body>
</html>
