<div>
  <div>
    <form class="pure-form">
      <fieldset>
        <div class="pure-control-group">
            <input type="text"
               ng-model="userName"
               placeholder="Username">
        </div>
      </fieldset>
    </form>
  </div>

  <h3>Messages</h3>
  <div ng-repeat="message in messages">
    <span>{{message.userName}}</span>
    <span>{{message.time | date:'HH:mm:ss'}}</span>
    <span>{{message.message}}</span>
  </div>

  <form ng-submit="sendMessage()" class="pure-form">
    <input type="text" ng-model="message" class="pure-input-2-3">
  </form>
</div>
