$sidebar_width = 180px

body
  width: 100%
  height: 100%

#Layout
  padding-left: $sidebar_width

.Sidebar
  background-color: #313949
  position: fixed
  height: 100%
  width: $sidebar_width
  left: $sidebar_width
  top: 0
  bottom: 0
  margin-left: -($sidebar_width)
  z-index: 1
  .title
    color: #eee
    font-size: x-large
    text-align: center

  .ChatRooms
    .title
      font-size: medium
    .Rooms
      margin: 0
      padding: 0

      .Room
        display: block
        padding-left: 20px
        list-style: none

        a
          display: block
          padding: 10px 10px
          text-decoration: none
          color: #eee
          &:hover
            background-color: pink


  .UserSettings
    text-align: center
    .title
      color: #eee
      font-size: medium

.Main
  padding: 10px