$sidebar_width = 180px

body
  width: 100%
  height: 100%

#Layout
  padding-left: $sidebar_width

.Sidebar
  background-color: #313949
  position: fixed
  height: 100%
  width: $sidebar_width
  left: $sidebar_width
  top: 0
  bottom: 0
  margin-left: -($sidebar_width)
  z-index: 1

.Main
  padding: 10px